@import "../../../styles/_mixins.scss";
@tailwind utilities;
@tailwind components;

.header {
  @apply absolute w-full flex justify-between bg-transparent h-[135px] z-10;

  .actions {
    @apply flex pl-6 gap-5;

    .languages_container {
      @apply absolute top-[100px] flex flex-col border-l-[0.5px] border-[#646464] pl-2 transition ease-in-out duration-700 -translate-x-2;
    }

    .slide_off {
      @apply -translate-x-28;
    }

    button {
      @apply text-left;

      .language_link_darkMode span {
        @apply subtitle-color-dark;
      }

      .language_link span {
        @apply subtitle-color-light;
      }
    }
  }

  .menuBtn {
    @apply pr-6;
  }

  .blur_menu {
    @apply blur;
  }

  .overlay {
    @apply bg-[#646464]/25;
  }

  .overlay_darkMode {
    @apply bg-white/5;
  }

  .overlay,
  .overlay_darkMode {
    @apply fixed h-screen w-screen z-[1];

    .border_position {
      @apply h-full absolute left-0 w-[1px] flex flex-col gap-[10%];

      .border_gradient {
        @apply h-1/3 bg-gradient-to-t from-transparent via-[#A65AC9];
      }
    }

    .navBar {
      @apply bg-white/50;
    }

    .navBar_darkMode {
      @apply bg-[#646464]/50;
    }

    .navBar,
    .navBar_darkMode {
      @apply fixed justify-between right-0 h-screen w-2/3 rounded-bl-3xl rounded-tl-3xl py-[90px] z-[10];
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);

      .name_icon {
        @apply absolute left-6 top-[35px];
      }

      .closeMenuBtn {
        @apply absolute right-6 top-[25px];
      }

      .container_tabs {
        @apply flex flex-col w-full h-full pt-40 gap-16 pl-[45px];
      }

      .tabs,
      .tabs_darkMode {
        @apply text-size-00 font-00 last:font-01 last:text-xl;
      }

      .tabs {
        @apply subtitle-color-light last:text-[#A65AC9];
      }

      .tabs_darkMode {
        @apply subtitle-color-dark last:text-[#A65AC9];
      }
    }
    .slide_off_navBar {
      @apply translate-x-full;
    }
  }
}

@include tablet() {
  .header {
    @apply w-full flex justify-between bg-transparent h-24;

    .actions {
      @apply flex pl-6 gap-5;

      .languages_container {
        @apply absolute top-[70px] flex flex-col border-l-[0.5px] border-[#646464] pl-2 transition ease-in-out duration-700 -translate-x-2;
      }

      .slide_off {
        @apply -translate-x-28;
      }

      button {
        @apply text-left;
      }
    }

    .menuBtn {
      @apply pr-6;
    }

    .blur_menu {
      @apply blur;
    }

    .overlay {
      @apply absolute h-screen w-screen bg-white/5;

      .border_position {
        @apply h-full absolute left-0 w-[1px] flex flex-col gap-[10%];

        .border_gradient {
          @apply h-1/3 bg-gradient-to-t from-transparent via-[#A65AC9];
        }
      }

      .navBar {
        @apply fixed justify-between right-0 h-screen w-2/3 rounded-bl-3xl rounded-tl-3xl py-[90px] bg-white/10 z-10;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);

        .name_icon {
          @apply absolute left-6 top-[31px];
        }

        .closeMenuBtn {
          @apply absolute right-6 top-[31px];
        }

        .container_tabs {
          @apply flex flex-col w-full h-full pt-40 gap-16 pl-6;
        }

        .tabs {
          @apply text-size-00 font-00 subtitle-color-light;
        }
      }
    }
  }
}

@include desktop() {
  .header {
    @apply h-[105px] px-0 flex flex-col;

    .navBar_desktop {
      @apply relative flex w-full h-[55px] justify-center justify-items-center gap-[45px] border-b-2 border-gradient;
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);

      .container_imgs {
        @apply absolute left-5 self-center h-[30px] w-48;
      }

      .image_content {
        @apply absolute inset-0 w-full h-full transition-opacity duration-500 ease-in-out flex;
      }

      .fade_in {
        @apply opacity-100;
      }

      .fade_out {
        @apply opacity-0;
      }

      .tabs,
      .tabs_darkMode {
        @apply header-font-00 w-fit h-fit self-center last:title-color last:header-font-01 last:absolute last:right-5;
      }

      .tabs {
        @apply subtitle-color-light;
      }

      .tabs_darkMode {
        @apply subtitle-color-dark;
      }
    }

    .actions {
      @apply w-full flex justify-between justify-items-center px-5;

      .languages_container {
        @apply top-[110px];
      }
    }
  }
}

@layer utilities {
  .border-gradient {
    border-bottom: 1px solid;
    border-image: linear-gradient(
        to right,
        transparent 10%,
        #a65ac9 30%,
        rgba(128, 128, 128, 0.372) 50%,
        #a65ac9 70%,
        transparent 90%
      )
      1;
    border-image-slice: 1;
  }
}
