@import "../../styles/mixins";
@tailwind utilities;
@tailwind components;

.projects {
  @apply w-full px-3 flex flex-col self-center h-screen justify-center z-10;

  .project {
    h3 {
      @apply subtitle-color-light;
    }

    .description p {
      @apply text-color-light;
    }
  }

  .project_darkMode {
    h3 {
      @apply subtitle-color-dark;
    }

    .description p {
      @apply text-color-dark;
    }
  }
  .project,
  .project_darkMode {
    @apply w-[366px] flex flex-col self-center;

    h2 {
      @apply -rotate-12 w-fit mb-5 ml-3;
    }

    .header_description {
      @apply flex w-[330px] self-center items-center gap-[10px] mb-2 mt-7;

      h3 {
        @apply font-00 text-xl min-w-fit;
      }

      .line {
        @apply w-full bg-[#B06DCF] h-[1.5px] rounded-[2px];
      }

      a {
        @apply cursor-pointer;

        img {
          @apply min-h-[25px] min-w-[25px];
        }
      }
    }

    .description {
      @apply flex relative justify-center mb-7;

      @supports selector(::-webkit-scrollbar) {
        .description_overflow::-webkit-scrollbar {
          background-color: #A65AC925;
          width: 2px;
        }
        .description_overflow::-webkit-scrollbar-thumb {
          background-color: #A65AC955;
          width: 1px;
        }
      }

      .description_overflow {
        @apply overflow-auto mb-[52px] w-[350px] h-[210px];
        p {
          @apply max-w-full text-sm text-font  leading-[19px];
        }
      }
      
      .border_line {
        @apply absolute left-2 bottom-0 w-[30%] h-[40%] border-l-[1.5px] border-b-[1.5px] border-[#A65AC9] rounded-bl-[60px];
      }
    }
  }

  .overlay {
    @apply w-full h-full absolute top-0 bg-[#252525]/50 transition-opacity duration-700;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  .overlay:hover {
    @apply transition-opacity opacity-0 duration-700;
  }

  .thumb {
    @apply h-full w-full object-cover;
  }
}

@include tablet() {
  .projects {
    .project,
    .project_darkMode {
      @apply w-[500px] mb-9;

      h2 {
        @apply text-[55px] ml-3;
      }

      .header_description {
        @apply w-[450px] gap-[12px] mb-3;

        h3 {
          @apply text-2xl;
        }

        .line {
          @apply h-[2px];
        }

        img {
          @apply w-7 h-7;
        }
      }

      .description p {
        @apply w-[420px] text-base;
      }
    }
  }
}

@include desktop() {
  .projects {
    @apply flex-row gap-9;

    .project,
    .project_darkMode {
      @apply w-[500px];

      h2 {
        @apply text-[65px] m-0;
      }

      .header_description {
        @apply w-[450px] gap-[12px] mb-3 mt-28;

        h3 {
          @apply text-2xl;
        }

        .line {
          @apply h-[2px];
        }

        img {
          @apply w-7 h-7;
        }
      }
      .description .border_line {
        @apply w-[43%] h-[52%];
      }
      .description p {
        @apply w-[420px] text-base;
      }
    }
    .mySwiper {
      @apply self-center m-0;
    }
  }
}
