@tailwind base;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rock+Salt&display=swap');

@font-face {
    font-family: 'B Berantas';
    src: url('../public/fonts/bBerantas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

span {
    @apply subtitle-color-light text-font text-xs;
}

h1, h2 {
    @apply title-color title-font;
}

h1 {
    @apply title-h1;
}

h2 {
    @apply subtitle-h2;
}
