.swiper {
  width: 259px;
  height: 288px;
}

.swiper-slide {
  border-radius: 15px;
  border: 0.5px solid #666;
}

.swiper-pagination {
  bottom: -20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #B06DCF99 !important;
}

@media(min-width:768px){
  .swiper {
    width: 300px;
    height: 350px;
  }

  .swiper-pagination {
    bottom: -30px !important;
  }
}

@media(min-width:1200px){
  .swiper {
    width: 542px;
    height: 603px;
  }

  .swiper-pagination {
    bottom: -30px !important;
  }
}